@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.cdnfonts.com/css/bluu-next');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: [header-content-start] auto [body-content-start] auto [footer-content-start] fit-content(2rem);
    grid-template-areas: "header"
        "body"
        "footer";
}

/* header styles */

.main-navbar {
    background: linear-gradient(to bottom, rgba(16, 20, 27, .8) 50%, rgba(16, 20, 27, 0));
    height: 6rem;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 10;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.main-navbar .main-navbar__menu--button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    transition: transform 400ms 150ms ease-in-out;
}

.main-navbar .main-navbar__menu--button:hover {
    transform: scale(0.7) rotateZ(360deg);
}

.main-navbar__logo--image {
    width: 70px;
    height: 52px;
    /* aspect-ratio: 1/1; */
    transition: transform 200ms 100ms ease-in-out;
}

.main-navbar__logo--image:hover {
    transform: scale(1.2);
}

.main-navbar__login--button {
    border: none;
    cursor: pointer;
    outline: none;
}

.main-navbar__login--button span {
    background-color: #6b63b5;
    color: #f9f4f2;
    padding: 0.5rem 1.3rem;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    font-size: 12px;
    outline: none;

    transition: background-color 400ms ease-in-out;
}

.main-navbar__login--button:hover span {
    background-color: #5f58a2;
}


/* Image and title */

.main-navbar__news {
    background: linear-gradient(to left bottom, rgba(15, 30, 52, 0), #10141b), url("images/Final_background_image_030223.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*title and headline*/

.main-navbar__news--title {
    margin: 0.5rem 2rem;
    color: white;
    font-family: 'Bluu Next', sans-serif;
    font-size: medium;
    letter-spacing: 1px;
}

.main-navbar__news--headline {
    margin: 0.5rem 2rem;
    color: white;
    font-family: 'Bluu Next', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;
    line-height: 3rem;
}

.main-navbar__news--date {
    margin: 0.5rem 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9fa1ad;
    margin-bottom: 2rem;
}

/*main content*/
main {
    background-color: #fff5e4;
    padding: 0 2rem;
}

main section {
    margin: 2rem 0;
}

.section-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.section-one__first--letter {
    font-family: 'Bluu Next', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: #cdb373;
    line-height: 5rem;
    align-self: flex-start;

    animation-name: flash;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.section-one__text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    line-height: 2rem;
}

.section-video__info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.section-video__player {
    width: 100%;
    aspect-ratio: 3/2;
    max-width: 40rem;
    margin-top: 1.5rem;
}

.article-hp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: #242633;
    line-height: 30px;
}

.article-hp p {
    margin: 2rem 0;
}

.hr-border {
    margin-top: 1.5rem;
    border-top: 1px solid #242633;
}

article a[href='#'] {
    color: #242633;
}

/*main signature*/
.main-signature {
    margin-top: 3rem;
}

.main-signature__separator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 0;
}

hr {
    flex-grow: 2;
    opacity: 0.3;
}

.main-signature__singbox {
    display: flex;
}

.main-signature__singbox--logo {
    margin-right: 2rem;
}

.main-signature__singbox--image {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 30px;
}

.main-signature__singbox--text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #242633;
}

.main-signature__singbox--info {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 100;
}

.main-signature__singbox--autor {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 300;
}

/*footer*/

.main-footer {
    padding: 2.5rem 1.5rem;
    background-color: #10141b;
}

.main-footer__container {
    border: 1px solid #696b78;
}

.main--footer__container {
    margin: 2rem;
}

.main--footer__container--list {
    margin: 2rem;
    border-bottom: 1px solid #6d6e7079;
}

.main-footer__logo--image {
    width: 6.5rem;
    aspect-ratio: 4/3;
}

.main--footer__container--links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main--footer__container--links li {
    margin-bottom: 1.5rem;
}

.main--footer__container--links a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.main--footer__container--links a:hover {
    text-decoration: underline;
}

.footer-social-media__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-social-media__links li {
    margin: 0 0.5rem;
}

.footer-social-media__links div {
    background-color: #242633;
    border-radius: 50px;
    width: 3rem;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-lower-text {
    margin: 2rem;
}

.footer-lower-text p {
    margin: 1rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.465);
}

@keyframes flash {
    from {
        color: #cdb373;
    }

    to {
        color: #cdb4730a;
    }
}

/*Sidebar mobile*/
.sidenav-sidebar {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;

    width: 85%;
    height: 100vh;
    background-color: #10141b;

    transform: translateX(-500px);
    opacity: 0.2;
    transition: all 400ms ease-out;
}

.sidenav-sidebar__transition {
    opacity: 1;
    transform: translateX(0px); 
}

.sidenav-navbar__menu {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.29);
}

.sidenav-navbar__menu--button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.sidenav-sidebar__items {
    padding: 1.5rem 2rem;
}

.sidenav-sidebar__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    list-style: none;
}

.sidenav-sidebar__links li {
    padding: 1rem 0;
}

.sidenav-sidebar__links a {
    color: whitesmoke;
    text-decoration: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.open-sidenav {
    display: block;
}

.close-sidenav {
    display: none;
}

@media (min-width: 40rem) {
    .sidenav-sidebar {
        width: 19rem;
    }

    .main-container,
    .main-signature {
        width: 60%;
        margin: auto;
    }

    .main-navbar__news {
        background: linear-gradient(to top right, rgba(35, 39, 46, 0.212), #10141b80),
            url("images/background-big.webp");
        /* background-position: 90% 10%; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 25rem;
    }

    .section-video__player {
        max-width: 100%;
    }

    .section-one__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
    }

    .section-video__info {
        font-size: 21px;
    }

    .article-hp {
        font-size: 21px;
        line-height: 35px;
    }


}





/*style scrollbar*/

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #10141b;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(245, 245, 245);
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
    border: 1px solid rgb(0, 0, 0);
    /* creates padding around scroll thumb */
}