@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.cdnfonts.com/css/bluu-next');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: [header-content-start] auto [body-content-start] auto [footer-content-start] fit-content(2rem);
    grid-template-areas: "header"
        "body"
        "footer";
}

/* header styles */

.main-navbar {
    background: linear-gradient(to bottom, rgba(16, 20, 27, .8) 50%, rgba(16, 20, 27, 0));
    height: 6rem;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 10;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.main-navbar .main-navbar__menu--button {
    background: none;
    border: none;
    cursor: pointer;
}

.main-navbar__logo--image {
    width: 70px;
    height: 52px;
    /* aspect-ratio: 1/1; */
}

.main-navbar__login--button {
    border: none;
    cursor: pointer;
}

.main-navbar__login--button span {
    background-color: #6b63b5;
    color: #f9f4f2;
    padding: 0.5rem 1.3rem;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    font-size: 12px;

    transition: background-color 400ms ease-in-out;
}

.main-navbar__login--button:hover span {
    background-color: #5f58a2;
}


/* Image and title */

.main-navbar__news {
    background: linear-gradient(to left bottom, rgba(15, 30, 52, 0), #10141b), url("images/Final_background_image_030223.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*title and headline*/

.main-navbar__news--title {
    margin: 0.5rem 2rem;
    color: white;
    font-family: 'Vina Sans', cursive;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.main-navbar__news--headline {
    margin: 0.5rem 2rem;
    color: white;
    font-family: 'Bluu Next', sans-serif;
    font-weight: bold;
    font-size: medium;
}

.main-navbar__news--date {
    margin: 0.5rem 2rem;
    font-family: 'Bluu Next', sans-serif;
    color: #9fa1ad;
    margin-bottom: 2rem;
}

/*main content*/
main {
    background-color: #faf6f0;
    padding: 0 2rem;
}

.section-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.section-one__first-letter {
    font-family: 'Bluu Next', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: #cdb373;
    line-height: 5rem;
    align-self: flex-start;
}

.section-one__text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    line-height: 2rem;
}

.section-video__info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.section-video__player {
    width: 100%;
    height: 315px;
    margin-top: 1.5rem;
}

section {
    margin-top: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: #242633;
    line-height: 26px;
}

.hr-border {
    margin-top: 1.5rem;
    border-top: 1px solid #242633;
}

section a[href='#'] {
    color: #242633;
}

/*main signature*/
.main-signature {
    margin-top: 3rem;
}

.main-signature__separator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

hr {
    flex-grow: 1;
    flex-shrink: 1;
    opacity: 0.3;
}